body {
	padding-top:70px;
	width: 100%;
    height: 100%;
	width: 100%;
    height: 100%;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
	color: #CBCBCB;
}

.submit-btn {
	background-color: #CBCBCB;
	margin: 10px 0 10px 0;
}

.post {
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
}

.odd {
	background-color: #ECE6F0;
	
}
.even {
	background-color: #BEBAC0;
}

.form-auth {
	max-width: 330px;
	padding: 5px;
	margin: 0 auto;
}

.form-control:focus {
	border-color: #BEBAC0 !important;
	box-shadow: 0 0 0 0.2rem rgba(68,68,68,.25) !important;
}

.submit-btn:focus {
	box-shadow: 0 0 0 0.2rem rgba(0,0,0,.50) !important;
}
}


